image: Visual Studio 2019

version: '{build}' # comment to use specific version and uncomment the next line
#version: '12.0.{build}' # comment to use global ospsuite verion und uncomment the previous line

# Download script file from GitHub
init:
# Comment next line if specific version is used and not the global ospsuite version
  - ps: Update-AppveyorBuild -Version "$($env:ospsuite_version).$($env:appveyor_build_version)"
  - ps: |
      $ErrorActionPreference = "Stop"
      Invoke-WebRequest http://raw.github.com/krlmlr/r-appveyor/master/scripts/appveyor-tool.ps1 -OutFile "..\appveyor-tool.ps1"
      Import-Module '..\appveyor-tool.ps1'

install:
  - cmd: set PATH=C:\Ruby27-x64\bin;%PATH%
  - ps: Bootstrap
  - git submodule update --init --recursive

platform: x64

environment:
  R_VERSION: 4.3.1
  R_ARCH: x64
  USE_RTOOLS: true
  R_BUILD_ARGS: --no-manual
  R_CHECK_ARGS: --no-multiarch --no-manual --as-cran --no-build-vignettes
  R_PKGTYPE: binary
  NOT_CRAN: true
  # Do not update vignettes after each commit. Vignettes are only generated for nightly builds.
  KEEP_VIGNETTES:
  #We use this variable to skip some long lasting tests using "skip_on_ci"
  CI: true
  # This enables performance tests, that are potentially machine-specific
  # Following a discussion in https://github.com/Open-Systems-Pharmacology/OSPSuite-R/pull/1288,
  # we want to run them in CI builds, but not locally or nightly
  OSPSUITE-BENCHMARK-TESTS: TRUE

build_script:
  - travis-tool.sh install_deps
  - travis-tool.sh r_binary_install curl
  - Rscript install_dependencies.R

on_success:
  - Rscript -e "spelling::spell_check_package()"
test_script:
  - travis-tool.sh run_tests

on_failure:
  - 7z a failure.zip *.Rcheck\*
  - appveyor PushArtifact failure.zip



artifacts:
  - path: '*.Rcheck\**\*.log'
    name: Logs

  - path: '*.Rcheck\**\*.out'
    name: Logs

  - path: '*.Rcheck\**\*.fail'
    name: Logs

  - path: '*.Rcheck\**\*.Rout'
    name: Logs


skip_commits:
  files:
    - "*.md"

skip_branch_with_pr: true

skip_tags: true

branches:
  only:
    - develop

pull_requests:
  do_not_increment_build_number: true
