image: Visual Studio 2022

version: '{build}' # comment to use specific version and uncomment the next line
#version: '12.0.{build}' # comment to use global ospsuite verion und uncomment the previous line

# Download script file from GitHub
init:
# Comment next line if specific version is used and not the global ospsuite version
  - ps: Update-AppveyorBuild -Version "$($env:ospsuite_version).$($env:appveyor_build_version)"
  - ps: |
      $ErrorActionPreference = "Stop"
      Invoke-WebRequest http://raw.github.com/krlmlr/r-appveyor/master/scripts/appveyor-tool.ps1 -OutFile "..\appveyor-tool.ps1"
      Import-Module '..\appveyor-tool.ps1'

install:
  - cmd: set PATH=C:\Ruby27-x64\bin;%PATH%
  - ps: Bootstrap
  - git submodule update --init --recursive

platform: x64

environment:
  R_VERSION: 4.3.1
  R_ARCH: x64
  USE_RTOOLS: true
  R_BUILD_ARGS: --no-build-vignettes #TODO remove the line as soon as vignettes build issue is fixed
  R_CHECK_ARGS: --no-multiarch --no-manual --as-cran --no-vignettes
  R_PKGTYPE: binary
  NOT_CRAN: true
  KEEP_VIGNETTES: 
  #We use this variable to skip some long lasting tests using "skip_on_ci"
  CI: false
  # This enables performance tests, that are potentially machine-specific
  # Following a discussion in https://github.com/Open-Systems-Pharmacology/OSPSuite-R/pull/1288,
  # we want to run them in CI builds, but not locally or nightly
  OSPSUITE-BENCHMARK-TESTS: FALSE
  COVERALLS_TOKEN:
    secure: xIz/WZT0ex3bs/CMBJTzzdXLhl3sqfSqJ3MshlSY03pZKuyYQN7Z1FprVgnlFMUZ

before_build:
  - nuget sources add -name utility -source https://ci.appveyor.com/nuget/ospsuite-utility
  - nuget sources add -name serializer -source https://ci.appveyor.com/nuget/ospsuite-serializer
  - nuget sources add -name funcparser -source https://ci.appveyor.com/nuget/ospsuite-funcparser
  - nuget sources add -name simmodel -source https://ci.appveyor.com/nuget/ospsuite-simmodel
  - nuget sources add -name cvodes -source https://ci.appveyor.com/nuget/ospsuite-simmodel-solver-cvodes
  - nuget sources add -name core -source https://ci.appveyor.com/nuget/ospsuite-core
  - nuget install packages.config -OutputDirectory packages # cannot use automatic artifact publish because it's not recognized in a C++/CLI project
  - rake "prepare_for_build[%APPVEYOR_BUILD_VERSION%]"

build_script:
  - travis-tool.sh install_deps
  - travis-tool.sh r_binary_install curl
  - Rscript install_dependencies.R

before_test:
  - cinst pandoc
  - ps: $env:Path += ";C:\Program Files (x86)\Pandoc\"
  - pandoc -v

on_success:
#  - Rscript -e "covr::codecov(function_exclusions = c('print.*'))"

test_script:
  - travis-tool.sh run_tests

after_test:
  - rake "create_linux_build[%APPVEYOR_BUILD_VERSION%, %APPVEYOR_BUILD_FOLDER%, ubuntu22]"
  - rake "download_portable[develop]"
  - appveyor PushArtifact "C:/projects/ospsuite-r-rsharp/pksim_minimal.zip" #TODO this should be taken from APPVEYOR_BUILD_FOLDER env variable 
  - ps: copy ospsuite_*.zip ospsuite.zip
  - ps: copy ospsuite_*ubuntu22.tar.gz ospsuite_ubuntu22.tar.gz

on_failure:
  - 7z a failure.zip *.Rcheck\*
  - appveyor PushArtifact failure.zip

artifacts:
  - path: '*.Rcheck\**\*.log'
    name: Logs

  - path: '*.Rcheck\**\*.out'
    name: Logs

  - path: '*.Rcheck\**\*.fail'
    name: Logs

  - path: '*.Rcheck\**\*.Rout'
    name: Logs

  - path: "ospsuite_*ubuntu22.tar.gz"
    name: Ubuntu22

  - path: '\ospsuite*.zip'
    name: Win
