<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OSPSuite.Assets" version="9.0.120"/>
  <package id="OSPSuite.Core" version="9.0.120"/>
  <package id="OSPSuite.Infrastructure" version="9.0.120"/>
  <package id="OSPSuite.Infrastructure.Import" version="9.0.120 "/>
  <package id="OSPSuite.Infrastructure.Autofac" version="9.0.120"/>
  <package id="OSPSuite.R" version="9.0.120 "/>
  <package id="OSPSuite.Serializer" version="3.0.0.1"/>
  <package id="OSPSuite.Utility" version="4.0.0.4"/>
  <package id="LumenWorksCsvReader" version="4.0.0"/>
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0"/>
  <package id="Autofac" version="4.9.4"/>
  <package id="MathNet.Numerics" version="4.9.0"/>
</packages>
