on:
  workflow_call:

name: Build Libraries

permissions:
  contents: write


jobs:
  build-libraries:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Full history for comparison

      - name: Check for csproj changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            csproj:
              - 'shared/DependencyManager/src/DependencyManager.csproj'

      - name: Skip build if no csproj changes
        if: steps.filter.outputs.csproj != 'true'
        run: echo "No changes detected in DependencyManager.csproj. Skipping library build."

      - name: Setup .NET
        if: steps.filter.outputs.csproj == 'true'
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Configure NuGet
        if: steps.filter.outputs.csproj == 'true'
        run: |
          dotnet nuget add source "https://nuget.pkg.github.com/Open-Systems-Pharmacology/index.json" \
            --name "OSP-GitHub-Packages" \
            --username "Open-Systems-Pharmacology" \
            --password "${{ secrets.GITHUB_TOKEN }}" \
            --store-password-in-clear-text

      - name: Build libraries
        if: steps.filter.outputs.csproj == 'true'
        run: |
          cd inst/lib
          dotnet build ../../shared/DependencyManager/DependencyManager.sln --configuration Release

      - uses: EndBug/add-and-commit@v9
        if: ${{ steps.filter.outputs.csproj == 'true'}}
        with:
          message: 'Update Libraries'
          default_author: github_actions
          add: 'inst/lib'
